@charset "UTF-8";
@import url(fonts.css);

body, button, input {
  font-family: 'Mohave';
}

body{
  margin: 0;
  color: white;
}
#load {
  margin-left: 15px;
  cursor: pointer;
}
table {
  margin-top: 5px;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 14px;
}
thead th {
  background-color: #282a36;
  border: solid 1px #3e4652;
  padding: 10px;
  text-align: left;
}
tbody td {
  border: solid 1px #3e4652;
  padding: 10px;
}
input[type='file'] {
  display: none
}